body {
		font-family: 'Open Sans';
		font-size:18px;
}
	
a:link {
	color: green;
}

a:visited {
	color: green;
}

h3 {
	color: green;
}

@media only screen and (max-width: 500px) {
	font-size:30px;
}

.maincol {
	margin-top:50px;
	margin-left:75px;
	margin-right:75px;
	margin-bottom:100px;
	max-width:750px;
}

.topnav {
	float:left;
	margin-left:75px;
	text-align:left;
	padding-top:20px;
}

.topnav a {
	color:gray;
	padding-right:20px;
	text-decoration:none;
}

.topnav a.active {
	color:green;
}