body {
		font-family: 'Open Sans';
		font-size:18px;
		margin:30px;
}
	
a:link {
	color: green;
}

a:visited {
		color: green;
}

h3 {
	color: green;
}

@media only screen and (max-width: 500px) {
	font-size:24px;
}