body {
		font-family: 'Open Sans';
		font-size:18px;
}

a:link {
	color: green;
}

a:visited {
	color: green;
}

h3 {
	color: green;
}

@media only screen and (max-width: 500px) {
	font-size:30px;
}

.maincol {
	margin-top:50px;
	margin-left:75px;
	margin-right:75px;
	margin-bottom:100px;
	max-width:750px;
}

.topnav {
	float:left;
	margin-left:75px;
	text-align:left;
	padding-top:20px;
}

.topnav a {
	color:gray;
	padding-right:20px;
	text-decoration:none;
}

.topnav a.active {
	color:green;
}

.mySlides {
	display: none;
}

.description {
	display:none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 5px;
  background-color: #bbb;
  border-radius: 50%;
  float: left;
  transition: background-color 0.6s ease;
}

.dot:hover {
	background-color: green;
}

.dot-active {
  background-color: green;
}

.arrows {
	cursor: pointer;
  position: absolute;
  /* top: 22px; */
  max-width: 800px;
  padding: 16px;
  margin-top: -22px;
	/* margin-bottom: 22px; */
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
	/* padding: 20px; */
}

.arrow-nav {
	margin-left: -15px;
	padding-bottom: 40px;
}

/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 22px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: green;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
} */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.slideshow-container {
  max-width: 750px;
  position: relative;
  /* margin-left:75px;
	margin-right:75px; */
}
